form {
  border:2px solid black;
  width:40%;
  margin:0 auto;
  text-align:center;
  border-radius: 5%;
}
h2{
  padding:5%;
  margin-top: 0;
  border-radius: 10% 10% 0% 0%;
}
input{
  display: inline-block;
  width:80%;
  margin-top:2%;
  padding:2%;
}
button{
  display: inline-block;
  width:85%;
  padding:2%;
  margin-top:2%;
  margin-bottom: 5%;
}
#sign-up-cont{
  display: inline-block;
  margin-top:25%;
  padding-bottom:2%;
  font-size: 1.1em;
}
#sign-up{
  text-decoration: none;
}
